<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a>Inicio</a></li>
        <li><a>Nostros</a></li>
        <li><a>Contactenos</a></li>
      </ul>
    </nav>

    <div class="container mt-5 mb-5">
      <h4 class="text-center mb-5">TITULO</h4>
      <div class="">
        <div class="col-md-6">
            <iframe class="video mr-3 ml-3" src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div class="col-md-6 text-justify p">
            
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, qui ut est ipsam sequi, laborum reprehenderit beatae facilis sed amet nostrum cupiditate dolorum dolor maxime ad sapiente neque veritatis ex?
          
        </div>
      </div>
    </div>
    <footer>
        <div class="mt-5">
            <form action="/">
              <div class="col-md-12 text-center">
                    <input type="text" name="" id="" placeholder="Nombre"> 
                    <input type="text" name="" id="" placeholder="Edad">
                </div> 
                
                  <button class="mt-5 btn">Enviar</button><br><br>
                
            </form> 
      </div>
    </footer>
    
  </body>
</html>
